body{
    font-family:Arial,sans-serif;
   background:#eef2f7;
    margin:0;
    padding:20px;
}

.container{
    max-width:1400px;
    margin:auto;
}

#ultimaAtualizacao{
    font-size:14px;
    color:#666;
}

h1{
font-size:48px;
margin-bottom:30px;
}

h2{
margin:40px 0 20px;
font-size:36px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:15px;
    margin-bottom:20px;
}

.card{
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
text-align:center;
transition:.3s;
border-top:5px solid #3b82f6;
}

.card:hover{
transform:translateY(-5px);
}

.card h3{
    margin-bottom:10px;
}

.card p{
    font-size:32px;
    font-weight:bold;
}

.progress{
    width:100%;
    height:25px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:30px;
}

#barra{
    height:100%;
    width:0%;
    background:#22c55e;
    transition:.5s;
}

.lider-box{
background:white;
padding:40px;
border-radius:20px;
margin:30px 0;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.lider-box h1{
color:#f59e0b;
font-size:56px;
}
}

#lider{
    font-size:32px;
    font-weight:bold;
}

#ranking{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
background:transparent;
box-shadow:none;
padding:0;
}

.ranking-card{
background:white;
padding:25px;
border-radius:20px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.ranking-card h3{
font-size:30px;
}

.ranking-card p{
font-size:32px;
font-weight:bold;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    font-size:12px;
}

th,td{
    padding:5px;
    border:1px solid #ddd;
    text-align:center;
}

th{
    background:#111827;
    color:white;
    position:sticky;
    top:0;
}

#tabela{
    overflow-x:auto;
}
