body{
    font-family:Arial,sans-serif;
    background:#f5f7fa;
    margin:0;
    padding:20px;
}

.container{
    max-width:1400px;
    margin:auto;
}

#ultimaAtualizacao{
    font-size:14px;
    color:#666;
}

h1,h2{
    text-align:center;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:15px;
    margin-bottom:20px;
}

.card{
    background:white;
    padding:15px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
    text-align:center;
}

.card h3{
    margin-bottom:10px;
}

.card p{
    font-size:32px;
    font-weight:bold;
}

.progress{
    width:100%;
    height:25px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:30px;
}

#barra{
    height:100%;
    width:0%;
    background:#22c55e;
    transition:.5s;
}

.lider-box{
    background:white;
    padding:20px;
    border-radius:12px;
    text-align:center;
    margin-bottom:20px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

#lider{
    font-size:32px;
    font-weight:bold;
}

#ranking{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
    margin-bottom:30px;
}

.ranking-card{
    background:white;
    padding:20px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.ranking-card h3{
    margin:0;
}

.ranking-card p{
    font-size:22px;
    font-weight:bold;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    font-size:12px;
}

th,td{
    padding:5px;
    border:1px solid #ddd;
    text-align:center;
}

th{
    background:#111827;
    color:white;
    position:sticky;
    top:0;
}

#tabela{
    overflow-x:auto;
}
